body { background: #E6E6E6 !important; text-align: center;}
/*.title-container { background-color: #E1E1E1; text-align: center; margin-top: 10px;}*/
.title { padding-bottom: 5px;  padding-top: 1px; color: #3DBF41;}
div .title h3{ font-style: italic;}
p { color: #A4A4A4; font-size: 20px;}
#container{ background-color: #EFEFEF;}
.app{ width: 500px; height: 500px; margin: auto;}
